
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Libre Baskerville', serif;
}

.heading {
  text-align: center;
}

.form-group {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 18px;
}

.form-control {
  width: 35%;
}

.contact-form {
  border: 2px solid #eeeeee;
  width: 500px;
  border-radius: 8px;
  margin-left: 330px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.twitter {
  padding-left: 5px;
}

.linkedin {
  padding-left: 5px;
}
